<div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
<div class="sm:col-span-3 field">
  <%= form.label :full_name, class: "block text-sm font-medium
text-gray-700" %>
  <div class="mt-1">
    <%= form.text_field :full_name, required: true, class: "shadow-sm
  focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm
  border-gray-300 rounded-md" %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :dob, "Date of Birth", class: "block text-sm font-medium
text-gray-700" %>
  <div class="mt-1">
    <%= form.date_field :dob, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md" %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :sex, "Sex", class: "block text-sm font-medium
text-gray-700" %>
  <div class="mt-1">
    <%= form.select :sex, ["Male", "Female", "Others"], {:prompt => 'Select'}, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md" %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :phone, class: "block text-sm font-medium text-gray-700"
%>
  <div class="mt-1">
    <%= form.text_field :phone, required: true, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md" %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :emergency_phone_no,"Emergency Phone No.", class: "block text-sm font-medium text-gray-700"
%>
  <div class="mt-1">
    <%= form.text_field :emergency_phone_no, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md" %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :lsg_body, class: "block text-sm font-medium
text-gray-700" %>
  <div class="mt-1">
    <%= form.select :lsg_body, LsgBody.all.to_a.map {|body| ["#{body.name} - #{body.kind}", body.id]}, {:prompt => 'Select'}, required: true, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md" %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :address, class: "block text-sm font-medium
text-gray-700" %>
  <div class="mt-1">
    <%= form.text_area :address, required: true, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md h-24" %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :route, class: "block text-sm font-medium text-gray-700"
%>
  <div class="mt-1">
    <%= form.text_area :route, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md h-24" %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :notes, class: "block text-sm font-medium text-gray-700"
%>
  <div class="mt-1">
    <%= form.text_area :notes, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md h-24" %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :volunteer, class: "block text-sm font-medium
text-gray-700" %>
  <div class="mt-1 overflow-y-scroll h-24 py-3 px-2">
    <% User.volunteers.each do |member| %>
      <%= render partial:"checkbox", locals: {
      user_id: member.id,
      user_name: member.full_name,
      form: form,
      checked: !@patient.users.volunteers.find(member.id).nil?,
    } %>
    <% end %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :economic_status, class: "block text-sm font-medium
text-gray-700" %>
  <div class="mt-1">
    <%= form.select :economic_status, ["Well-Off", "Middle Class", "Poor",
  "Very Poor"], {:prompt => 'Select'}, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md" %>
  </div>
</div>
  <div class="sm:col-span-3 field">
  <%= form.label :disease, class: "block text-sm font-medium text-gray-700"
%>
  <div class="mt-1">
    <%= form.text_field :disease, required: true, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md" %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :asha_member, class: "block text-sm font-medium
text-gray-700" %>
  <div class="mt-1">
    <%= form.select :asha_member, User.ashas.to_a.map {|member| [member.full_name, member.id]}, {:prompt => 'Select'}, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md" %>
  </div>
</div>
<div class="sm:col-span-3 field">
  <%= form.label :reported_by, class: "block text-sm font-medium
text-gray-700" %>
  <div class="mt-1">
    <%= form.select :reported_by, User.all.to_a.map {|member| ["#{member.full_name} - #{member.role}", member.id]}, {:prompt => 'Select'}, required: true, class: "shadow-sm focus:ring-indigo-500
  focus:border-indigo-500 block w-full sm:text-sm border-gray-300
  rounded-md" %>
  </div>
  </div>
</div>
