<%=content_for(:tail) do %>
  <%= javascript_pack_tag 'GeneralHealthInfoPack' %>
<% end %>

<script type="text/json" id="psychological-review-form-data">
  {
    "akps": <%= info.akps %>,
    "palliative_phase": <%= info.palliative_phase %>,
    "disease_history_radio": <%= info.disease_history_radio %>
  }
</script>

<%= form_with url: new_visit_general_information_path(visit), method: :post do |form| %>
  <div id="general-health-information-form"></div>
<% end %>
