<%=content_for(:tail) do %>
  <%= javascript_pack_tag 'PhysicalSymptomPack' %>
<% end %>

<script type="text/json" id="physical-symptoms-form-data">
  {
    "patient_at_peace": <%= info.patient_at_peace %>,
    "pain": <%= info.pain %>,
    "shortness_breath": <%= info.shortness_breath %>,
    "weakness": <%= info.weakness %>,
    "poor_mobility": <%= info.poor_mobility %>,
    "nausea": <%= info.nausea %>,
    "vomiting": <%= info.vomiting %>,
    "poor_appetite": <%= info.poor_appetite %>,
    "constipation": <%= info.constipation %>,
    "sore": <%= info.sore %>,
    "drowsiness": <%= info.drowsiness %>,
    "wound": <%= info.wound %>,
    "lack_of_sleep": <%= info.lack_of_sleep %>,
    "micturition": <%= info.micturition %>
  }
</script>

<%= form_with url: new_visit_physical_symptom_path(visit), method: :post do |form| %>
  <div id="physical-symptoms-form"></div>
<% end %>

<%# patient_at_peace: option<string>,
  pain: option<string>,
  shortness_breath: option<string>,
  weakness: option<string>,
  poor_mobility: option<string>,
  nausea: option<string>,
  vomiting: option<string>,
  poor_appetite: option<string>,
  constipation: option<string>,
  sore: option<string>,
  drowsiness: option<string>,
  wound: option<string>,
  lack_of_sleep: option<string>,
  micturition: option<string>, %>
