<%= content_for(:head) do %>
  <%= render partial: "layouts/home-nav" %>
<% end %>
<div class="mt-2">
  <div class="flex justify-center py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <h1 class="text-4xl text-center font-bold">Arike</h1>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Set Up New Password
        </h2>
      </div>
      <%= form_with model: @user, url: user_password_path, method: :PUT, class: "mt-8 space-y-6" do |form| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= form.hidden_field :reset_password_token %>
        <div class="my-2">
          <%= form.label :password, "New password", class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.password_field :password, placeholder: "*******", autofocus: true, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
        </div>
        <div class="my-2">
          <%= form.label :password_confirmation, "Confirm new password", class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.password_field :password_confirmation, placeholder: "*******", autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
        </div>
        <div>
          <%= form.button value: "Next", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50", data: { :disable_with => "Please wait..." } do %>
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <%= render partial: "layouts/icon-lock" %>
            </span>
            <span>Next</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
