<div class="bg-gray-100 py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        <%= render partial: "day", locals: { date: "22nd March", day: "MONDAY" } %>
        <%= render partial: "day", locals: { date: "23rd March", day: "TUESDAY" } %>
        <%= render partial: "day", locals: { date: "24th March", day: "WEDNESDAY" } %>
        <%= render partial: "day", locals: { date: "25th March", day: "THURSDAY" } %>
        <%= render partial: "day", locals: { date: "26th March", day: "FRIDAY" } %>
        <%= render partial: "day", locals: { date: "27th March", day: "SATURDAY" } %>
      </ul>
    </div>
  </div>
