<%# starts %>
<main class="py-10">
  <!-- Page header -->
  <div class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
    <div class="flex items-center space-x-5">
      <div>
        <h1 class="text-2xl font-bold text-gray-900">
          <%= @facility.name %>
        </h1>
        <p class="text-sm font-medium text-gray-500">Last modified on <time><%= @facility.updated_at.to_s(:short) %></time></p>
      </div>
    </div>
    <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
      <% if @facility.secondary_facility? %>
        <%= link_to "PHC", "#", class: "inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500"%>
      <% end %>
      <%= link_to "New Facility", new_facility_path, class: "inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500" %>
    </div>
  </div>
  <div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
    <div class="space-y-6 lg:col-start-1 lg:col-span-2">
      <!-- Description list-->
      <section aria-labelledby="applicant-information-title">
        <div class="bg-white shadow sm:rounded-lg">
          <div class="flex justify-between items-center mr-4">
            <div class="px-4 py-5 sm:px-6">
              <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
                <%= @facility.secondary_facility? ? "Seconday" : "Primary" %> Facility Information
              </h2>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Details
              </p>
            </div>
            <div>
              <%= link_to "Edit Facility", edit_facility_path(@facility.id), class: "px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500" %>
            </div>
          </div>
          <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  State
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <%= @facility.state %>
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  District
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <%= @facility.district %>
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Phone
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <%= @facility.phone %>
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Pincode
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <%= @facility.pincode %>
                </dd>
              </div>
              <div class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  Address
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <%= @facility.address %>
                </dd>
              </div>
              <div class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  Local Body and Ward Information
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                      <div class="w-0 flex-1 flex items-center">
                        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" x-description="Heroicon name: solid/paper-clip" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-2 flex-1 w-0 truncate">
                          <%= "Local Body: " + @facility.lsg_body_info.name %>
                        </span>
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <%= link_to "See more", lsg_body_path(@facility.lsg_body), class: "font-medium text-indigo-600 hover:text-indigo-500"%>
                      </div>
                    </li>
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                      <div class="w-0 flex-1 flex items-center">
                        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" x-description="Heroicon name: solid/paper-clip" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-2 flex-1 w-0 truncate">
                          <%= "Ward: " + @facility.ward_info.name %>
                        </span>
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <%= link_to "See more", ward_path(@facility.ward), class: "font-medium text-indigo-600 hover:text-indigo-500"%>
                      </div>
                    </li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </section>
      <!-- Comments-->
      <section aria-labelledby="notes-title">
        <div class="bg-white shadow sm:rounded-lg sm:overflow-hidden">
          <div class="divide-y divide-gray-200">
            <div class="px-4 py-5 sm:px-6">
              <h2 id="notes-title" class="text-lg font-medium text-gray-900">Patients</h2>
            </div>
            <div class="px-4 py-6 sm:px-6">
              <ul class="space-y-8 list-disc ml-4">
                <% @facility.patients.map do |patient| %>
                  <li>
                    <div class="flex space-x-3">
                      <div>
                        <div class="text-sm">
                          <a href="#" class="font-medium text-gray-900"><%= patient.full_name %></a>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section aria-labelledby="timeline-title" class="lg:col-start-3 lg:col-span-1">
      <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
        <h2 id="timeline-title" class="text-lg font-medium text-gray-900">Nurses Assigned</h2>
        <!-- Activity Feed -->
        <div class="mt-6 flow-root">
          <h1 class="my-2">Primary</h1>
          <ul class="mb-8">
            <% @facility.primary_nurses.map do |nurse| %>
              <li class="text-gray-800 list-disc ml-4 text-sm flex items-center justify-between my-2">
                <h1><%= nurse.full_name %></h1>
                <button class="bg-red-50 rounded-md p-1.5 text-red-500 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-50 focus:ring-red-600">
                  <svg class="h-3 w-3" x-description="Heroicon name: solid/x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                </button>
              </li>
            <% end %>
          </ul>
          <h1 class="my-2">Secondary</h1>
          <ul class="mb-8">
            <% @facility.secondary_nurses.map do |nurse| %>
              <li class="text-gray-800 list-disc ml-4 text-sm flex items-center justify-between my-2">
                <h1><%= nurse.full_name %></h1>
                <% form_with url: assign_facility_path%>
                <button class="bg-red-50 rounded-md p-1.5 text-red-500 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-50 focus:ring-red-600">
                  <svg class="h-3 w-3" x-description="Heroicon name: solid/x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                </button>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="mt-6 flex flex-col justify-stretch">
          <%= form_with url: assign_facility_path, method: :put do |form| %>
            <div class="col-span-6 sm:col-span-3 my-4">
              <%= form.label :nurses, "Assign Nurses", class: "block text-sm font-medium text-gray-700" %>
              <%= form.select("facility[user_id]", User.where("facility_id IS ? AND (role = ? OR role = ?)", nil, "Primary Nurse", "Secondary Nurse").map{ |body| ["#{body.full_name} - #{body.role}", body.id]}, {
          }, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md")
          %>
            </div>
            <%= form.hidden_field "facility[facility_id]", value: @facility.id %>
            <%= form.submit "Assign New Nurse", class: "cursor-pointer w-full inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</main>
<% if @facility.secondary_facility? %>
  <%= render "table", facilities: @facility.primary_facilities%>
<%end%>
