<div class="container mx-auto w-full h-full">
  <div class="relative wrap overflow-hidden pl-4 sm:px-4 md:px-10 h-full pt-0">
    <div
      class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border"
    ></div>
    <div class="mb-8 flex justify-between items-center w-full">
      <div
        class="-mx-10 z-20 flex items-center order-1 bg-gray-800 shadow-xl px-2 h-8 rounded"
      >
        <h1 class="mx-auto font-semibold text-sm text-white">
          <%= disease.date_of_diagnosis.present? ? Time.parse(disease.date_of_diagnosis).strftime("%d %b, %Y") : "- - -" %>
        </h1>
      </div>
      <div
        class="order-1 bg-gray-100 rounded-lg shadow-lg w-11/12 ml-8 px-6 py-4"
      >
        <h3 class="mb-3 font-bold text-gray-800 text-2xl">
          <%= disease.name ? Disease.find_by_id(disease.name).name : "- - -" %>
        </h3>
        <div class="py-2 grid grid-cols-3 gap-4 px-6 hover:bg-gray-100">
          <dt class="font-medium text-gray-500">Investigation</dt>
          <dd class="text-gray-900 col-span-2">
            <%= disease.investigation ? disease.investigation : "- - -" %>
          </dd>
        </div>
        <div class="py-2 grid grid-cols-3 gap-4 px-6 hover:bg-gray-100">
          <dt class="font-medium text-gray-500">Treatments</dt>
          <dd class="text-gray-900 col-span-2">
            <%= disease.treatments ? disease.treatments : "- - -" %>
          </dd>
        </div>
        <div class="py-2 grid grid-cols-3 gap-4 px-6 hover:bg-gray-100">
          <dt class="font-medium text-gray-500">Remarks</dt>
          <dd class="text-gray-900 col-span-2">
            <%= disease.remarks ? disease.remarks : "- - -" %>
          </dd>
        </div>
      </div>
    </div>
  </div>
</div>
