<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto">
      <%= form_with(model: patient) do |form| %>
        <div id="patient-form"></div>
        <script type="text/json" id="data">
          {
            "full_name": "<%= patient[:full_name] %>",
            "dob": "<%= patient[:dob] %>",
            "sex": "<%= patient[:sex] %>",
            "phone": "<%= patient[:phone] %>",
            "address": "<%= patient[:address] %>",
            "route": "<%= patient[:route] %>",
            "notes": "<%= patient[:notes] %>",
            "emergency_phone_no": "<%= patient[:emergency_phone_no] %>",
            "economic_status": "<%= patient[:economic_status] %>",
            "lsg": <%= LsgBody.all.to_a.map {|body| ["#{body.name} - #{body.kind}", body.id]} %>,
            <%# "lsg_selected": "<%= patient.lsg_body", %>
            "volunteers": <%= User.volunteers.to_a.map {|v| [v.full_name, v.id]} %>,
            "volunteers_selected": <%= patient.users.volunteers.to_a.map {|v| [v.full_name, v.id]} %>,
            "ashas": <%= User.ashas.to_a.map {|member| [member.full_name, member.id]} %>,
            <%# "asha_selected": "<%= patient.asha_member", %>
            "facility": <%= Facility.all.to_a.map {|facility| [facility.name, facility.id]} %>,
            "facility_selected": "<%= patient.facility %>",
            "reported_by": <%= User.nurses.to_a.map { |nurse| ["#{nurse.full_name} - #{nurse.role}", nurse.id]} %>,
            "reported_by_selected": "<%= patient.reported_by %>"
          }
        </script>
        <script>
          window.PatientFormPage.run()
        </script>
      <% end %>
  </div>
</div>
