<tr class="bg-white" x-description="Odd row">
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= full_name %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= dob %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= phone %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= address %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <%= link_to "View", "patients/#{id}", class: "text-indigo-600 hover:text-indigo-900"  %>
  </td>

  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
  </td>
</tr>
