<%=content_for(:tail) do %>
  <%= javascript_pack_tag 'PatientsPack', "data-turbo-track": "reload", nonce: true %>
<% end %>

<script type="text/json" id="patients-data">
  {
    "patients": <%= @patients.to_json.html_safe %>
  }
</script>

<div id="patients"></div>




<div class="bg-gray-100 py-6">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="flex mb-5 ml-1 justify-between">
      <div class="font-semibold text-xl">Patients</div>

      <div class="flex space-x-4">
        <%= form_with url: "/patients", method: :get, class: "flex space-x-4 items-center" do |form| %>
          <%= form.label "Filter By Facility" %>
          <%= form.select :facility, @facilities, {selected: @facility_id}, {class: "border border-gray-300 rounded-md shadow-md w-32", onchange: "this.form.submit()"} %>
        <% end %>
        <%= link_to 'Create New Patient', new_patient_path, class: 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <%= form_tag patients_path, method: :get do %>
            <div class="relative">
              <%= text_field_tag :search, @search_text,placeholder: "Search for Patient name", class: "block w-full bg-white border border-gray-300 rounded-md py-2 pl-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
                <button type="submit" class="focus:outline-none">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          <% end %>
          <br />
          <div
            class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
          >
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Full Name
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Date of Birth
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Phone
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Address
                  </th>
                  <th
                    scope="col"
                    colspan="2"
                    class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody x-max="2">
                <% @patients.each do |patient| %>
                  <%= render partial: 'table-row', locals: { patient: patient} %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
