<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto">
    <%= form_with url: "/patients/#{@patient.id}/family_details", method: :put do |form| %>
      <div id="family_form"  ></div>
    <% end %>
  </div>
</div>
<script type="text/json" id="family_data">
  {
    "relations": <%= FamilyDetail.relations.values %>,
    "educations":<%= FamilyDetail.educations.values %>,
    "occupations":<%= FamilyDetail.occupations.values %>,
    "members": <%= @patient.family_details.to_json %>
  }
</script>
<script>
FamilyManager.start("family_form")
</script>
