<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto">
    <h3 class="text-3xl leading-6 font-medium text-gray-800 mb-8 pb-8 border-b">
      Family Details
    </h3>
    <%= form_with url: "/patients/#{@patient.id}/family_details", method: :put do |form| %>
      <div id="family-form"  ></div>
    <% end %>
  </div>
</div>
<script type="text/json" id="family-form-data">
  {
    "relations": <%= FamilyDetail.relations.values %>,
    "educations":<%= FamilyDetail.educations.values %>,
    "occupations":<%= FamilyDetail.occupations.values %>,
    "members": <%= @patient.family_details.to_json %>
  }
</script>
<script>
  FamilyManager.start("family-form", "family-form-data")
</script>
