<%= form_with(model: @lsg_body) do |form| %>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto">
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <%= form.label :name, "Name of the LSG Body", class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_field :name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <div>
            <%= form.label :kind, "Type", class: "block text-sm font-medium text-gray-700" %>
            <%=
              form.select :kind,
                          %w[Municipality Corporation Panchayat],
                          {},
                          {
                            class:
                              'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md',
                          }
            %>
          </div>
        </div>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <%= form.label :code, "Code of LSG Body", class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_field :code, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :district, "District of LSG Body", class: "block text-sm font-medium text-gray-700" %>
          <%=
            form.select(
              'district_id',
              District.all.map { |district| [district.name, district.id] },
              { selected: District.find_by(name: 'Ernakulam').id },
              required: true,
              class:
                'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md',
            )
          %>
        </div>
      </div>
      <%= form.submit "Submit", class: "mt-8 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
  </div>
<% end %>
