<!DOCTYPE html>
<html>
  <head>
    <title>Arike</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="min-h-screen bg-white">
      <% if session[:current_user_id] %>
        <%= render partial: "/layouts/navbar" %>
      <% else %>
         <%= render partial: "/layouts/home-nav" %>
      <% end %>
      <% if flash[:error] %>
        <%= render partial: "/layouts/flash-message" %>
      <% end %>
      <div class="py-10">
        <main>
          <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
